.RoomType {
    position: sticky;
    width: 50%;
    margin: 1rem;
}

.Image {
    opacity: 0.5;
}

.Text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	z-index: 50;
    font-size: x-large;
}