.PersonalDataForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}


.FormBtn {
    margin-top: 1rem;
    background-color: var(--primary-color);
    width: 100%;
    color: white;
    font-size: large;
    font-weight: bold;
}
