.Cart {
    width: 100%;
    padding: 1rem;
}

.Header {
    text-align: left;
    margin: 0;
    margin-bottom: 1rem;
    font-weight: bold;
}

.Cart hr {
    margin: 0;
}

.SubHeaders {
    display: flex;
    margin: .75rem 0;
}

.SubHeaders h5 {
    width: 50%;
    text-align: left;
    margin: 0;;
}

.Alert {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--alert-background-color);
    color: var(--alert-font-color);
    font-weight: bold;

    /* background-color: ; */
}