.ReservationSummary {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;
}

.ReservationSummary > h2, .ReservationSummary > h3 {
    text-align: left;
}

.ReservationSummary > hr {
    border-top: 5px solid var(--primary-color);
    border-radius: 10px;
}

.Dates {
    margin: 2rem 0;
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
}

.Date {
    flex: 1 1 0;
}

.Rooms {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.Room {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 0; /* set flex-shrink to 0 */
    min-width: 20rem; /* set minimum width */
    max-width: calc(50% - 2rem); /* set maximum width */
    flex-basis: 30%;
}

.RoomImage {
    border-radius: .5rem;
    margin: 1rem 0;
}

.Tags {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.Tag {
    flex: 1 1 0;
}

.PriceWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Price {
    padding: .75rem 2rem;
}

@media only screen and (max-width: 1025px) {
    .ReservationSummary {
        width: 100%;
        padding: 1rem;
    }

	.Dates {
        gap: 1rem;
        justify-content: center;
    }
    .Date { flex: 1 1 70%; }

    .Card { min-width: 20rem; }

    .Rooms { max-width: 100%; }
    
    .Room {  
        flex-basis: 100%; /* set flex-basis to 100% on smaller devices */
        max-width: 100%; 
        min-width: 0;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .RoomImage { max-width: 100%; }

    .Tag { padding: .5rem; }

    .Price { padding: .75rem 1rem; }
}