.LanguagePicker {
    /* color: white; */
    z-index: 2;
}

.icon {
    margin-right: 0.5rem;
}

.header {
    color: white;
}

.header:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.LanguageOptions {
    padding: 0;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    z-index: 1;
}