.Description {
    align-items: flex-start;
}

.Description > * {
    margin: 0 2rem;
}

.DescriptionImage {
    max-height: 500px;
    max-width: 40%;
}

.DescriptionText > h4 {
    font-size: 30px;
	font-weight: bold;
	color: var(--primary-color);
	margin-bottom: 30px;
	width: 100%;
   	text-align: center;
   	border-bottom: 1px solid #DEDEDE;
   	line-height: 0.1em;
}

.DescriptionText > h4 > span {
    background: var(--background-color);
    padding:0 10px;
}

.DescriptionText > p {
    text-align: justify; 
    line-height: 175%;
    font-size: large;
}