.Step2 {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}

.ReturnButton {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.Content {
    margin-top: 1rem;
    display: flex;
    flex-grow: 1;
    gap: 1rem;
}

.PersonalDataForm {
    width: 70%;
    padding: 1.5rem;
}



.SideBar {
    width: 30%;
}