.BenefitsItem {
    text-align: center;
    margin: 1rem;
}


.IconWrapper {
    margin: 0 auto;
    margin-bottom: 20px;
    background: #ffff;
    width: 120px;
    height: 120px;
    display: table;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Icon {
    height: 5rem;
    color: #4586FF;
}

.Header {
    color: #4586FF;
    font-weight: bold; 
}

.Text {
    text-align: justify;
}