.Content {
    width: 80%;
    margin: 2rem auto;
}

@media only screen and (max-width: 1024px){
    .Content {
        width: 90%;
        margin-bottom: 2rem;
    }
}

@media only screen and (min-width: 1200px){
    .Content {
        width: 70%;
    }
}