.Progressbar {
    max-width: 80%;
    margin: 0 auto;
}

.ProgressbarIcons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ProgressbarStep {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ProgressbarStep span {
    font-weight: bold;
}

.Icon {
    width: 60px;
    height: 60px;
    border: 4px solid #ddd;
    border-radius: 100%;
    padding: 1rem;
    margin: 1rem 2rem;
}

.HrContainer {
    flex: 1;
}

.HrLine {
    margin-left: 10px;
    margin-right: 10px;
    height: 4px !important;
    border-radius: 10px; 
    color: #ddd;
    opacity: 1;
}

.Active {
    border-color: #3aac5d;
    color: #3aac5d;
    opacity: 1;
}

@media only screen and (max-width: 768px) {
	.ProgressbarStep {
        border-radius: 100%;
        border: 4px solid #ddd;
    }

    .Active {
        border-color: #3aac5d;
        color: #3aac5d;
        opacity: 1;
    }
    
    .ProgressbarIcons {
        gap: 1.2rem;
    }
    
    .Icon {
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 0;
        margin: 1rem;
        padding: 0;
    }

    .StepText {
        display: none;
    }

    .HrLine {
        display: none;
    }
}
