.Card {
    width: 80%;
    padding: 1.25rem;
}

.Form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.FormField {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 15rem;
}

.FormField > * {
    padding: 0.5rem;
}

.FormField > label {
    text-align: left;
    font-weight: bold;
    color: var(--primary-color);
}

.SearchBtn {
    border-radius: 20px;
	color: var(--primary-color);
	border-color: var(--primary-color);
    font-weight: bold;
    width: 15rem;
}

.SearchBtn:hover {
    background-color: var(--primary-color);
    color: white;
}