.DatePicker {
    width: 80%;
    margin: auto;
}

.Card {
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.DateInput {
    flex: 2 1 0;
}

.DateInput > input {
    width: 100%;
}

.SearchBtn {
    min-width: 25%;
    min-height: 100%;
    border-radius: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: large;
	color: var(--primary-color);
	border-color: var(--primary-color);
    font-weight: bold;
}

.SearchBtn:hover {
    background-color: var(--primary-color);
    color: white;
}

@media only screen and (max-width: 768px) {
    .DatePicker {
        width: 95%;
    }

    .Card {
        flex-direction: column;
        padding: 1rem 1rem;
    }

    .SearchBtn {
        min-width: 0;
        min-height: 0;
        font-size: medium;
    }
}