.LanguageOption {
    color: black;
    list-style: none;
    padding: 0.5rem;
    border-radius: 10px;
    display: flex;
}

.LanguageOption:hover {
    background-color: #5A7CE2;
	color: white;
    cursor: pointer;
}

.flag {
	border-radius: 100px;
	height: 18px;
	width: 18px;
    margin-right: 0.5rem;
}