.container {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 3rem;
}

.ReservationIcon {
    margin-right: 0.5rem;
}

.ReservationBtn {
    color: white;
}

.ReservationBtn:hover {
    color: var(--primary-color);
}

@media only screen and (max-width: 768px) {
    
    .container {
        margin: 0 auto;
        padding-top: .5rem;
        width: 100%;
        justify-content: center;
        display: none;
    }
}