.container {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 3rem;
}

.reservationIcon {
    margin-right: 0.5rem;
}

.ReservationBtn {
    color: white;
}

.ReservationBtn:hover {
    color: var(--primary-color);
}