.Header {
    font-size: 2rem;
    font-weight: bold;
    color: #5A7CE2;
    margin: 2rem 0rem;
    border-bottom: 1px solid #DEDEDE;
    line-height: 0.1em;
}

.Header > span {
    background:#F7F7F7;
    padding:0 1.5rem;
}