.Map {
    margin-top: 3rem;
}

.Content {
    align-items: flex-start;
}

.Section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin: 3rem 1rem;
    gap: 1rem;
}

.GoogleMap {
    width: 100%;
}

.Iframe {
    width: 100%;
    min-height: 25rem;
}

.AddressHeader { 
    font-weight: bold; 
    margin: 0; 
}

.Address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: .5rem;
}

.AddressDescription {
    text-align: justify;
}

@media only screen and (max-width: 1025px) {
	.Content {
        flex-direction: column;
        gap: 1rem;
    }

    .Section { margin: 0; }

    .AddressHeader { margin: 0; }

    .Address { margin: 0; }
}