:root {
  --primary-color: #4586FF;
  --background-color: #F7F7F7;
  --green-color: #3aac5d;
  --info-background-color: #8cadeb98;
  --info-font-color: #003caa;
  --alert-background-color: #edb95e9d;
  --alert-font-color: #7d5104;
  --alert-background-hover-color: #d6a249ef;
  --alert-font-hover-color: #46300b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Raleway', sans-serif !important;
  background-color: var(--background-color) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
