.ContactForm {
    display: flex;
    flex: 1;
    padding: 1rem 2rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.Input {
    max-width: 47%;
}

.TextArea {
    height: 10rem;
}

.Button {
    margin: auto;
    padding: .5rem;
    width: 100%;
    max-width: 10rem;
    font-weight: bold;
    font-size: large;
    color: var(--background-color);
    background-color: var(--primary-color);
}

@media only screen and (max-width: 860px) {
    .Input {
        max-width: 100%;
        align-items: center;
    }

    .TextArea {
        align-items: center;
    }

    .Button {
        width: 100%;
        max-width: 100%;
    }
}